<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


  <button style="position: relative; left:210px;" mat-raised-button class="color-icon" (click)="onOpenModal(null, 'add')">Add User
    <mat-icon class="color-icon" matTooltip="Add a new user" matTooltipPosition="above">add_circle</mat-icon>
  </button>
  <button style="position: relative; left:210px;" mat-raised-button class="color-icon" (click)="approveUsers()">Approve Users
    <mat-icon class="color-icon" matTooltip="Approve users" matTooltipPosition="above">check_circle</mat-icon>
  </button>
  <button style="position: relative; left:210px;" mat-raised-button class="color-icon" (click)="rejectedRemovedUsers()">See Rejected/Removed Users
    <mat-icon class="color-icon" matTooltip="See Rejected/Removed Users" matTooltipPosition="above">remove_circle</mat-icon>
  </button>

<div class="container bootstrap snippets bootdey" id="main-container" style="position: relative; left: 100px; width: 85%;"> 
            <mat-form-field appearance="standard">
              <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            </mat-form-field>
          <div class="mat-elevation-z8">

            <table mat-table  [dataSource]="dataSource" matSort #sort="matSort" class="table user-list" > 
              <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <mat-icon class="color-icon">account_circle</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th  mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row" >

                  {{row.username}}
                </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
              </ng-container>

              <ng-container matColumnDef="nextstatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Status </th>
                <td mat-cell *matCellDef="let row"> {{row.nextstatus}} </td>
              </ng-container>

              <ng-container matColumnDef="buttons" >
                <th mat-header-cell *matHeaderCellDef >  </th>
                <td style="width: 20%;" mat-cell *matCellDef="let row">
                  
                      <button mat-icon-button color="primary" aria-label="Info User" (click)="userDetails(row)">
                        <mat-icon class="color-icon" matTooltip="More Info" matTooltipPosition="above">info</mat-icon>
                      </button> 

                      <button mat-icon-button color="primary" aria-label="Edit User" (click)="onOpenModal(row, 'edit')">
                        <mat-icon class="color-icon" matTooltip="Edit User" matTooltipPosition="above">edit</mat-icon>
                      </button> 
                      
                      <button mat-icon-button color="warn" aria-label="Delete User" (click)="onOpenModal(row, 'delete')">
                        <mat-icon matTooltip="Delete User" matTooltipPosition="above">delete</mat-icon>
                      </button> 

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4"> </td>
              </tr>


            </table>

            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons ></mat-paginator>
            </div>


          </div>




<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ngModel name="username" class="form-control"  id="username" placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" ngModel name="fullname" class="form-control" id="fullname" placeholder="fullname" required>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" ngModel name="address" class="form-control" id="address" placeholder="address" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
          </div>

          <div class="modal-footer">
            <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalLabel">Edit User {{editUser?.username}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">

          <input type="hidden" ngModel="{{editUser?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <input type="hidden" ngModel="{{editUser?.username}}" name="username" class="form-control" id="username" placeholder="Username">
          <input type="hidden" ngModel="{{editUser?.password}}" name="password" class="form-control" id="password" placeholder="password">
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="fullname" ngModel="{{editUser?.fullname}}" name="fullname" class="form-control" id="fullname" placeholder="fullname">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="address" ngModel="{{editUser?.address}}" name="address" class="form-control" id="address" placeholder="address">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editUser?.email}}" name="email" class="form-control" id="email" placeholder="Email">
          </div>

          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete user {{deleteUser?.username}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteUser(deleteUser?.id)" class="btn btn-secondary" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Notification for no users -->
<div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12" style="position: relative; right: -230px;">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO USERS!</h4>
    <p>No Users were found.</p>
  </div>
</div>

<!-- User Details Modal -->


<div class="modal fade" id="detailUserModal" tabindex="-1" role="dialog" aria-labelledby="detailModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModelLabel">User Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container bootstrap snippets bootdey" id="details-container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                  <div class="table-responsive">
                    <table class="table user-list">
                      <thead>
                      <tr>
                        <th><span>User</span></th>
                        <th class="text-center"><span>Full Name</span></th>
                        <th class="text-center"><span>Address</span></th>
                        <th><span>Email</span></th>
                        <th class="text-center"><span>Status</span></th>
                        <th class="text-center"><span>Next Status</span></th>
                      </tr>
                      </thead>
                      <tbody class="col-md-6 col-xl-3">

                      <tr>
                        <td>
                          <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/User_%2889620%29_-_The_Noun_Project.svg" alt="">
                          <span  class="label label-default">{{detailUser?.username}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{detailUser?.fullname}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{detailUser?.address}}</span>
                        </td>
                        <td>
                          <a href="#">{{detailUser?.email}}</a>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{detailUser?.status}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{detailUser?.nextstatus}}</span>
                        </td>

                      </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5>Audit</h5>

          <div class="row">
            <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                  <div class="table-responsive">

                    <mat-form-field appearance="standard">
                      <input matInput (keyup)="applyFilter2($event)" placeholder="Search" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">

                      <table mat-table [dataSource]="dataSource2" matSort  #sort2="matSort" class="table user-list" > 


                        <ng-container matColumnDef="username">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                          <td mat-cell *matCellDef="let row" class="text-center">
                            {{row.username}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="objectType">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Object Type </th>
                          <td mat-cell *matCellDef="let row"> {{row.objectType}} </td>
                        </ng-container>

                        <ng-container matColumnDef="operation">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Operation </th>
                          <td mat-cell *matCellDef="let row"> {{row.operation}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef > Date </th>
                          <td mat-cell *matCellDef="let row"> {{row.timestamp | date:'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="time">
                          <th mat-header-cell *matHeaderCellDef > Time </th>
                          <td mat-cell *matCellDef="let row"> {{row.timestamp | date:'shortTime'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="buttons" >
                          <th mat-header-cell *matHeaderCellDef >  </th>
                          <td style="width: 20%;" mat-cell *matCellDef="let row">
                            <a (click)="userHistory(row.timestamp)" class="btn btn-small btn-success" style="color:white;">
                              <i class="icon-shopping-cart icon-large"></i>See User History</a>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4"> </td>
                        </tr>


                      </table>
                      <mat-paginator #paginator2 [pageSizeOptions]="[5]" showFirstLastButtons ></mat-paginator>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<!-- User History Modal -->


<div class="modal fade" id="userHistoryModal" tabindex="-1" role="dialog" aria-labelledby="userHistoryModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userHistoryModelLabel">User Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container bootstrap snippets bootdey" id="user-history-container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                  <div class="table-responsive">
                    <table class="table user-list">
                      <thead>
                      <tr>
                        <th><span>User</span></th>
                        <th class="text-center"><span>Full Name</span></th>
                        <th class="text-center"><span>Address</span></th>
                        <th><span>Email</span></th>
                        <th class="text-center"><span>Status</span></th>
                        <th class="text-center"><span>Next Status</span></th>
                        <th class="text-center"><span>Date</span></th>
                        <th class="text-center"><span>Time</span></th>
                      </tr>
                      </thead>
                      <tbody class="col-md-6 col-xl-3">

                      <tr>
                        <td>
                          <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/User_%2889620%29_-_The_Noun_Project.svg" alt="">
                          <span class="label label-default">{{uHistory?.username}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{uHistory?.fullname}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{uHistory?.address}}</span>
                        </td>
                        <td>
                          <a href="#">{{uHistory?.email}}</a>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{uHistory?.status}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{uHistory?.nextstatus}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{uHistory?.timestamp | date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td class="text-center">
                          <span class="label label-default">{{uHistory?.timestamp | date:'shortTime'}}</span>
                        </td>

                      </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
